body {
  background: #141315;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: "Euclid Circular A", "Poppins";
  color: rgb(255 255 255 / 50%);
}

.frame {
  position: relative;
  width: 100%;
  translate: 0 92px;
  margin: auto;
  display: grid;
  place-items: center;
  scale: 1.2;
}

.frame :is(h2, h1, h3) {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.frame h2 {
  font-size: 10px;
  margin: 0 0 0px;
}

.frame h1 {
  font-size: 24px;
  color: #f9f9f9;
  margin: 0 0 40px;
}

.frame h3 {
  position: absolute;
  bottom: -12px;
  font-size: 12px;
}

.grid {
  display: grid;
  gap: 0 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid > div {
  position: relative;
  display: grid;
  place-items: center;
  width: 70px;
  height: 120px;
  margin-bottom: 20px;
}

.grid.grid.two-col > div {
  width: 110px;
}

.grid > div > p {
  position: absolute;
  top: -10px;
  left: 50%;
  translate: -50% 0;
  margin: 0;
}
